<div class="row">
    <div class="col-lg-8">
        <h2>New Citation</h2>
        <ol class="breadcrumb">
            <li>
                <%= link_to root_path do %>
                    <span class="glyphicon glyphicon-home"></span>
                <% end %>
            </li>
            <li><a href="#">Database</a></li>
            <li><%= link_to 'Events', artifacts_path %></li>
            <li class="active">New Citation</li>
        </ol>
    </div>
</div>

<div class="row">
    <%= form_for @citation do |f| %>
        <%= hidden_field_tag :type, nil, value: @type %>
        <div class="col-lg-6">
            
            <%= render "citations/new/#{@type.downcase}", f: f %>

            <div class="form-group">
                <%= f.label :content %>
                <%= f.text_area :content, class: 'form-control', rows: 4 %>
            </div>
            
            <%= f.submit "Create", class: 'btn btn-primary' %>
            
        </div>
        
        
    <% end %>
    
</div>
<%= render 'citations/new/new_document_modal' unless @uploader.nil? %>