<div class="row">
  <div class="col-lg-8">
    <h2>New Employment</h2>
    <ol class="breadcrumb">
      <li>
        <%= link_to root_path do %>
          <span class="glyphicon glyphicon-home"></span>
        <% end %>
      </li>
      <li><a href="#">Database</a></li>
      <% if @place %>
        <li><%= link_to 'Places', places_path %></li>
        <li><%= link_to @place.name, @place %></li>
      <% elsif @person %>
        <li><%= link_to 'People', people_path %></li>
        <li><%= link_to @person.name, @person %></li>
      <% end %>
      <li class="active">New Employment</li>
    </ol>
  </div>
</div>


<%= form_for @employment do |f| %>

  <div class="row">
    <div class="col-lg-4">
      <% if @place %>
        <%= f.hidden_field :place, value: { id: @place.uuid, text: @place.name }.to_json %>
      
        <div class="form-group">
          <%= f.label :person %>
          <%= f.text_field :person, class: 'form-control'%>
        </div>
      <% elsif @person %>
        <%= f.hidden_field :person, value: { id: @person.uuid, text: @person.name }.to_json %>
      
        <div class="form-group">
          <%= f.label :place %>
          <%= f.text_field :place, class: 'form-control'%>
        </div>
      <% end %>
    </div>
  </div>
  
  <div class="row">
    <div class="col-lg-6">
    
      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class: 'form-control'%>
      </div>
    
      <div class="form-group">
        <%= f.label :start_date %>
        <%= f.date_field :start_date, class: 'form-control'%>
      </div>
    
      <div class="form-group">
        <%= f.label :end_date %>
        <%= f.date_field :end_date, class: 'form-control'%>
      </div>
    
       <%= f.submit "Create", class: 'btn btn-large btn-primary pull-right' %>
    </div>

    <div class="col-lg-5 col-lg-offset-1">
      <div class="checkbox">
        <label>
          <%= f.check_box :current_job %> Current Job?
        </label>
      </div>
    
      <div class="form-group">
        <%= f.label :details %>
        <%= f.text_area :details, class: 'form-control', rows: 5 %>
      </div>
    </div>
  </div>
  
<% end %>