<div class="row">
  <div class="col-lg-9">
    <h2><%= @employment.person.name %> <small>employed by</small> <%= @employment.place.name %></h2>
    <ol class="breadcrumb">
      <li>
        <%= link_to root_path do %>
          <span class="glyphicon glyphicon-home"></span>
        <% end %>
      </li>
      <li><a href="#">Database</a></li>
      <li><a href="#">Employments</a></li>
      <li class="active"><%= @employment.person.name %> employed by <%= @employment.place.name %></li>
    </ol>
  </div>
  <div class="col-lg-3">
    <br/>
    <div class="pull-right">
      <%= link_to employment_history_path(@employment), class: 'btn btn-warning btn-sm' do %>
        <span class="glyphicon glyphicon-th-list"></span> 
        History
      <% end %>
      <a href="#" class="btn btn-danger btn-sm">
        <span class="glyphicon glyphicon-remove"></span> 
        Delete
      </a>
    </div>
  </div>
</div>


<div class="row">
  
  <div class="col-sm-4">
    <h3>Place</h3>
    <div class="media">
      <%= link_to @employment.place, class: 'pull-left' do %>
        <% if @employment.place.num_photos > 0 %>
          <%= image_tag @employment.place.default_photo.image.event_thumb.url, class: 'media-object' %>
        <% else %>
          <img class="media-object pull-left" data-src="holder.js/50x50/industrial/text:?">
        <% end %>
      <% end %>
      <div class="media-body">
        <h4 class="media-heading"><%= link_to @employment.place.name, @employment.place %></h4>
      </div>
    </div>
    
    <h3>Person</h3>
    <div class="media">
      <%= link_to @employment.person, class: 'pull-left' do %>
        <% if @employment.person.num_photos > 0 %>
          <%= image_tag @employment.person.default_photo.image.event_thumb.url, class: 'media-object' %>
        <% else %>
          <img class="media-object pull-left" data-src="holder.js/50x50/industrial/text:?">
        <% end %>
      <% end %>
      <div class="media-body">
        <h4 class="media-heading"><%= link_to @employment.person.name, @employment.person %></h4>
      </div>
    </div>
  </div>
  
  <div class="col-sm-8">
    <h3>Info</h3>
    <dl class="dl-horizontal">
      <dt>Title</dt>
      <dd>
        <% if editable_object? @employment %>
          <span id="title"
            data-type="text"
            data-pk=<%= @employment.id %>
            data-url="/employments/<%= @employment.id %>"
            data-title="Title">
            <%= @employment.title %>
          </span>
        <% else %>
          <%= @employment.title %>
        <% end %>
      </dd>
            
      <dt>Start Date</dt>
      <dd>
        <% if editable_object? @employment %>
          <span id="start_date"
            data-type="combodate"
            data-pk=<%= @employment.id %>
            data-url="/employments/<%= @employment.id %>"
            data-title="start_date">
            <%= @employment.start_date %>
          </span>
        <% else %>
          <%= @employment.start_date %>
        <% end %>
      </dd>
      
      <dt>End Date</dt>
      <dd>
        <% if editable_object? @employment %>
          <span id="end_date"
            data-type="combodate"
            data-pk=<%= @employment.id %>
            data-url="/employments/<%= @employment.id %>"
            data-title="end_date">
            <%= @employment.end_date %>
          </span>
        <% else %>
          <%= @employment.end_date %>
        <% end %>
      </dd>
      
      <dt>Current Job</dt>
      <dd>
        <% if editable_object? @employment %>
          <span id="current_job"
            data-type="select"
            data-pk=<%= @employment.id %>
            data-url="/employments/<%= @employment.id %>"
            data-title="current_job">
            <%= @employment.current_job %>
          </span>
        <% else %>
          <%= @employment.current_job %>
        <% end %>
      </dd>
      
      <dt>Details</dt>
      <dd>
        <% if editable_object? @employment %>
          <span id="details"
            data-type="textarea"
            data-pk=<%= @employment.id %>
            data-url="/employments/<%= @employment.id %>"
            data-title="details">
            <%= @employment.details %>
          </span>
        <% else %>
          <%= @employment.details %>
        <% end %>
      </dd>
    </dl>
    
  </div>
  
</div>