<div class="row">
    <div class="col-lg-8">
        <h2>New Person</h2>
        <ol class="breadcrumb">
            <li>
                <%= link_to root_path do %>
                    <span class="glyphicon glyphicon-home"></span>
                <% end %>
            </li>
            <li><a href="#">Database</a></li>
            <li><%= link_to 'People', people_path %></li>
            <li class="active">New</li>
        </ol>
    </div>
</div>

<div class="row">
    <%= form_for @person do |f| %>
        
        <div class="col-lg-6">
            
            <div class="form-group">
                <%= f.label :name %>
                <%= f.text_field :name, class: 'form-control'%>
            </div>
            
            <div class="form-group">
                <%= f.label :description %>
                <%= f.text_area :description, class: 'form-control', rows: 4 %>
            </div>
            
        </div>
    
        <div class="col-lg-5 col-lg-offset-1">
            
            <div class="form-group">
                <%= f.label :date_of_birth %>
                <%= f.date_field :date_of_birth, class: 'form-control', placeholder: 'mm/dd/yyyy' %>
            </div>
            
            <div class="form-group">
                <%= f.label :date_of_death %>
                <%= f.date_field :date_of_death, class: 'form-control', placeholder: 'mm/dd/yyyy' %>
            </div>
            
            <div class="form-group">
                <%= f.label :gender %>
                <%= f.select :gender, gender_types.collect{|h| [h[:display], h[:val] ]}, {}, {class: 'form-control'} %>
            </div>
            
            <div class="form-group">
                <%= f.label :nationality %>
                <%= f.country_select :nationality, nil, {}, {class: 'form-control'} %>
            </div>
            
            <%= f.submit "Create", class: 'btn btn-large btn-primary pull-right' %>
            
        </div>
    
    <% end %>
    
</div>