<div class="col-lg-8">
  
  <div class="row">
    
    <div class="col-lg-8">
      <h3>Events</h3>
    </div>
    
    <div class="col-lg-4">
      <br>
      <div class="btn-group pull-right">
        <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
          <span class="glyphicon glyphicon-plus"></span> Event <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <% Verb.all.each do |v| %>
            <li><%= link_to v.display, new_event_path(artifact_id: @artifact.uuid, type: v.keyword) %></li>
          <% end %>
        </ul>
      </div>
    </div>
    
  </div>
  
  <% if @artifact.has_events? %>
    <table class="table table-striped table-hover">
      <% @artifact.events.order(:date).each do |event| %>
        <tr class="clickable" href="<%= url_for(event) %>">
          <td><h4><%= event.year %></h4></td>
          <td><%= actors_span(event.primary_actors) %></td>
          <td><strong><%= event.pretty_verb %></strong></td>
          <% if event.location %>
            <td><span class="glyphicon glyphicon-map-marker"></span> <%= event.address %></td>
          <% elsif event.secondary_actors.size > 0 %>
            <td><%= actors_span(event.secondary_actors) %></td>
          <% else %>
            <td>Unknown</td>
          <% end %>
        </tr>
      <% end %>
    </table>
  <% else %>
    <p>No events.</p>
  <% end %>
</div>