<div class="col-lg-4">
    <h3>Properties</h3>
    <dl class="dl-horizontal">
        
        <dt>Alternate Names</dt>
        <dd>
            <% if editable_object? @artifact %>
                <span id="alternate_names"
                    data-type="text"
                    data-pk=<%= @artifact.uuid %>
                    data-url="/artifacts/<%= @artifact.uuid %>"
                    data-title="Alternate Names">
                    <%= @artifact.names.join(", ") %>
                </span>
            <% else %>
                <%= @artifact.names.join(", ") %>
            <% end %>
        </dd>
        
        <dt>Artist</dt>
        <dd>
            <% if editable_object? @artifact %>
                <span id="artist"
                    data-type="text"
                    data-pk=<%= @artifact.uuid %>
                    data-url="/artifacts/<%= @artifact.uuid %>"
                    data-title="Artist">
                    <%= @artifact.artist %>
                </span>
            <% else %>
                <%= @artifact.artist %>
            <% end %>
        </dd>
        
        <dt>Date Created</dt>
        <dd>
            <% if editable_object? @artifact %>
                <span id="date_created"
                    data-type="text"
                    data-pk=<%= @artifact.uuid %>
                    data-url="/artifacts/<%= @artifact.uuid %>"
                    data-title="Date Created">
                    <%= @artifact.date_created %>
                </span>
            <% else %>
                <%= @artifact.date_created %>
            <% end %>
        </dd>
        
        <dt>Dimensions</dt>
        <dd>
            <% if editable_object? @artifact %>
                <span id="dimensions"
                    data-type="text"
                    data-pk=<%= @artifact.uuid %>
                    data-url="/artifacts/<%= @artifact.uuid %>"
                    data-title="Dimensions">
                    <%= @artifact.dimensions %>
                </span>
            <% else %>
                <%= @artifact.dimensions %>
            <% end %>
        </dd>

    </dl>
</div>