<div class="row">
  <div class="col-sm-8">
    <h2>New Event</h2>
    <ol class="breadcrumb">
      <li>
        <%= link_to root_path do %>
          <span class="glyphicon glyphicon-home"></span>
        <% end %>
      </li>
      <li><a href="#">Database</a></li>
      <li><%= link_to 'Artifacts', artifacts_path %></li>
      <li><%= link_to @artifact.name, @artifact %></li>
      <li class="active">New Event</li>
    </ol>
  </div>
</div>

<%= form_for @event do |f| %>
  <%= f.hidden_field :artifact, value: @artifact.uuid %>
  <%= f.hidden_field :verb, value: @verb.keyword %>
  
  <div class="row">
    <div class="col-sm-4">
      <% if @verb.components.include? 'primary_actor' %>
        <%= render 'events/components/actor', label: :primary  %>
      <% end %>
    </div>
    
    <div class="col-sm-2">
      <br>
      <h4><%= @verb.display %></h4>
    </div>
    
    <div class="col-sm-4">
      <% if @verb.components.include? 'secondary_actor' %>
        <%= render 'events/components/actor', label: :secondary  %>
      <% end %>
      <% if @verb.components.include? 'location' %>
        <%= render 'events/components/location'  %>
      <% end %>
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-6">
      <h3>Components</h3>
      
      <% if @verb.components.include? 'date' %>
        <%= render 'events/components/date', f: f %>
      <% end %>
      
      <% if @verb.components.include? 'price' %>
        <%= render 'events/components/price', f: f %>
      <% end %>
        
      <% if @verb.components.include? 'failed' %>
        <%= render 'events/components/failed', f: f %>
      <% end %>
        
      <% if @verb.components.include? 'details' %>
        <%= render 'events/components/details', f: f %>
      <% end %>

      <%= f.submit 'Create', class: 'btn btn-primary' %>
      
    </div>
  </div>
  
<% end %>