<div class="row">
  <div class="col-lg-9">
    <h2>Event</h2>
  </div>
  <div class="col-lg-3">
    <br/>
    <div class="pull-right">
      <%= link_to event_history_path(@event), class: 'btn btn-warning btn-sm' do %>
        <span class="glyphicon glyphicon-th-list"></span> 
        History
      <% end %>
      <a href="#" class="btn btn-danger btn-sm">
        <span class="glyphicon glyphicon-remove"></span> 
        Delete
      </a>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-sm-8">
    
    
    <div class="row">
      <div class="col-sm-12">
        <ol class="breadcrumb">
          <li>
            <%= link_to root_path do %>
              <span class="glyphicon glyphicon-home"></span>
            <% end %>
          </li>
          <li><a href="#">Database</a></li>
          <li><a href="#">Events</a></li>
          <li class="active">Event</li>
        </ol>
      </div>
    </div>
  
  
    <div class="row">
      <div class="col-sm-5">
        <div class="well">
        
          <table class="table">
            <% @event.primary_actors.each do |a| %>
              <tr>
                <div class="media">
                  <% if a.class == Unknown %>
                    <img class="media-object pull-left" data-src="holder.js/50x50/industrial/text:?">
                    <div class="media-body">
                      <h4 class="media-heading"><%= a.name %></h4>
                      <strong><%= a.class.to_s %></strong>
                      <small class="pull-right"><a href="#<%= a.class.to_s %>_<%= a.uuid %>" class="remove_actor primary">[remove]</a></small>
                    </div>
                  <% else %>
                    <%= link_to a, class: 'pull-left' do %>
                      <% if a.num_photos > 0 %>
                        <%= image_tag a.default_photo.image.event_thumb.url, class: 'media-object' %>
                      <% else %>
                        <img class="media-object pull-left" data-src="holder.js/50x50/industrial/text:?">
                      <% end %>
                    <% end %>
                    <div class="media-body">
                      <h4 class="media-heading"><%= link_to a.name, a %></h4>
                      <strong><%= a.class.to_s %></strong>
                      <small class="pull-right"><a href="#<%= a.class.to_s %>_<%= a.uuid %>" class="remove_actor primary">[remove]</a></small>
                    </div>
                  <% end %>
                </div>
              </tr>
            <% end %>
          </table>
        </div>
        <div class="find_primary_actor"><a href="#" class="add_primary_actor">[+ Add]</a></div>
      </div>
    
      <div class="col-sm-2">
        <br>
        <strong><%= @event.pretty_verb %></strong>
      </div>
    
      <div class="col-sm-5">
        <% if @event.components.include?('secondary_actor') || @event.components.include?('location') %>
          <div class="well">
            <% if @event.location %>
              <%= image_tag @event.location.map_url, class: 'img-responsive' %>
            <% else %>
              <table class="table">
                <% @event.secondary_actors.each do |a| %>
                  <tr>
                    <div class="media">
                      <% if a.class == Unknown %>
                        <img class="media-object pull-left" data-src="holder.js/50x50/text:?">
                        <div class="media-body">
                          <h4 class="media-heading"><%= a.name %></h4>
                          <strong><%= a.class.to_s %></strong>
                          <small class="pull-right"><a href="#<%= a.class.to_s %>_<%= a.uuid %>" class="remove_actor secondary">[remove]</a></small>
                        </div>
                      <% else %>
                        <%= link_to a, class: 'pull-left' do %>
                          <% if a.num_photos > 0 %>
                            <%= image_tag a.default_photo.image.event_thumb.url, class: 'media-object' %>
                          <% else %>
                            <img class="media-object pull-left" data-src="holder.js/50x50/industrial/text:No Photo">
                          <% end %>
                        <% end %>
                        <div class="media-body">
                          <h4 class="media-heading"><%= link_to a.name, a %></h4>
                          <strong><%= a.class.to_s %></strong>
                          <small class="pull-right"><a href="#<%= a.class.to_s %>_<%= a.uuid %>" class="remove_actor secondary">[remove]</a></small>
                        </div>
                      <% end %>
                    </div>
                  </tr>
                <% end %>
              </table>
            <% end %>
          </div>
          <div class="find_secondary_actor"><a href="#" class="add_secondary_actor">[+ Add]</a></div>
        <% end %>
      </div>
  
  
    </div>
    
    <div class="row">
      <div class="col-sm-12">
        <h3>Components</h3>
        <dl class="dl-horizontal">
                    
          <% if @event.components.include? 'date' %>
            <dt>Date</dt>
            <dd><span id="date"><%= @event.date %></span></dd>
          <% end %>
          
          <% if @event.components.include? 'location' %>
            <dt>Location</dt>
            <dd><span id="location"><%= @event.address %></span></dd>
          <% end %>
      
          <% if @event.components.include? 'price' %>
            <dt>Price</dt>
            <dd>
              <span id="price_currency"><%= @event.price.symbol %></span> 
              <span id="price"><%= humanized_money @event.price %></span>
            </dd>
          <% end %>
        
          <% if @event.components.include? 'failed' %>
            <dt>Failed</dt>
            <dd><span id="failed"><%= @event.failed %></span></dd>
          <% end %>
        
          <% if @event.components.include? 'details' %>
            <dt>Details</dt>
            <dd>
              <span id="details"><%= @event.details %></span>
              <button id="edit_details" class="btn btn-xs">
                <span class="glyphicon glyphicon-pencil"></span>
              </button>
            </dd>
          <% end %>
          
          <dt>
        </dl>
      </div>
    </div>
    
    
    <div class="row">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-lg-8">
            <h3>Citations</h3>
          </div>
    
          <div class="col-lg-4">
            <br>
            <div class="btn-group pull-right">
              <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
                <span class="glyphicon glyphicon-plus"></span> Add <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><%= link_to 'Website', new_event_citation_path(@event, type: 'website') %></li>
                <li><%= link_to 'Book', new_event_citation_path(@event, type: 'book') %></li>
                <li><%= link_to 'Document', new_event_citation_path(@event, type: 'document') %></li>
              </ul>
            </div>
          </div>
        </div>
        
      </div>
    </div>
    
    <div class="row">
      <div class="col-sm-12">
        <% if @event.has_citations? %>
          <table class="table table-striped table-hover">
            <% @event.citations.each do |citation| %>
              <tr class="clickable" href="<%= source_path(citation.source) %>">
                <td>
                  <div class="row">
                    <div class="col-sm-2">
                      <% if citation.source.is_a? Document %>
                        <span class="glyphicon glyphicon-file" style="font-size: 50px;"></span>
                      <% elsif citation.source.thumbnail.url %>
                        <%= image_tag citation.source.thumbnail.url, class: 'img-responsive', width: 50 %>
                      <% else %>
                        <img data-src="holder.js/50x50/text:?" class="img-responsive"/>
                      <% end %>
                      <br>
                      <small><%= citation.source.type %></small>
                    </div>
                    <div class="col-sm-10">
                      <strong><%= citation.source.name %></strong>
                      <br><br>
                      <p><%= citation.content %></p>
                    </div>
                  </div>
                </td>
                <td>
                  <%= link_to '[delete]', citation, method: :delete %>
                </td>
              </tr>
            <% end %>
          </table>
        <% else %>
          <p>No citations.</p>
        <% end %>
      </div>
    </div>
  </div>
  
  
  <div class="col-sm-4">
    <h3>Artifacts</h3>
    <% if @event.artifacts.size > 0 %>
      <table class="table">
        <% @event.artifacts.each do |a| %>
          <tr>
            <td>
              <div class="media">
                <%= link_to a, class: 'pull-left' do %>
                  <% if a.num_photos > 0 %>
                    <%= image_tag a.default_photo.image.event_thumb.url, class: 'media-object' %>
                  <% else %>
                    <img data-src="holder.js/50x50/text:?" class="media-object pull-left" />
                  <% end %>
                <% end %>
                <div class="media-body">
                  <h4 class="media-heading"><%= link_to a.name, a %></h4>
                  <% if @event.artifacts.size > 1 %>
                    <small class="pull-right"><a href="#<%= a.class.to_s %>_<%= a.uuid %>" class="remove_artifact">[remove]</a></small>
                  <% end %>
                </div>
              </div>
            </td>
          </tr>
        <% end %>
      </table>
    <% else %>
      <p>No Artifacts.</p>
    <% end %>
    <div class="find_artifact"><a href="#" class="add_artifact">[+ Add]</a></div>
  </div>
  
</div>
<%= render 'events/show/find_actor' %>
<%= render 'events/show/find_artifact' %>