<div class="row">
    <!-- Name -->
    <div class="col-lg-8">
        <h2>Artifacts</h2>
        <ol class="breadcrumb">
            <li>
                <%= link_to root_path do %>
                    <span class="glyphicon glyphicon-home"></span>
                <% end %>
            </li>
            <li><a href="#">Database</a></li>
            <li class="active">Artifacts</li>
        </ol>
    </div>
    <div class="col-lg-4">
        <h3>Filter Results</h3>
        <div class="well"></div>
    </div>
</div>

<div class="row">
    <!-- Breadcrumbs -->
    <div class="col-lg-8">

        <%= page_entries_info @artifacts %>

        <table class="table table-striped table-hover">
            <% @artifacts.each do |a| %>
                <tr>
                    <td class="col-lg-1">
                        <% if a.num_photos > 0 %>
                            <%= link_to a do %>
                                <%= image_tag a.default_photo.image.object_thumb.url, class: 'img-responsive' %>
                            <% end %>
                        <% else %>
                            <%= link_to a do %>
                                <img data-src="holder.js/95x95/text:No Photo" class="img-responsive"/>
                            <% end %>
                        <% end %>
                    </td>
                    <td>
                        <h4><%= link_to a.name, a %></h4>
                        <p><small><%= a.description %></small></p>
                    </td>
                </tr>
            <% end %>
        </table>
        
        <%= paginate @artifacts %>
    </div>

</div>