<div class="row">
    <!-- Name -->
    <div class="col-lg-8">
        <h2>Artifacts</h2>
        <ol class="breadcrumb">
            <li>
                <%= link_to root_path do %>
                    <span class="glyphicon glyphicon-home"></span>
                <% end %>
            </li>
            <li><a href="#">Database</a></li>
            <li class="active">Artifacts</li>
        </ol>
    </div>
</div>

<div class="row">
    <!-- Breadcrumbs -->
    <div class="col-lg-8">

        <%= page_entries_info @artifacts %>

        <table class="table table-striped table-hover">
            <% @artifacts.each do |a| %>
                <tr>
                    <td class="col-sm-2">
                        <% if a.num_photos > 0 %>
                            <%= link_to a do %>
                                <%= image_tag a.default_photo.image.object_thumb.url, class: 'img-responsive' %>
                            <% end %>
                        <% else %>
                            <%= link_to a do %>
                                <img data-src="holder.js/95x95/text:No Photo" class="img-responsive"/>
                            <% end %>
                        <% end %>
                    </td>
                    <td>
                        <h4><%= link_to a.name, a %></h4>
                        <p><small><%= a.description %></small></p>
                    </td>
                </tr>
            <% end %>
        </table>
        
        <%= paginate @artifacts %>
    </div>
    
    <div class="col-lg-4">
      <h3>Filter Results</h3>
      <div class="well">
        <form id="filter">
        
          <div class="checkbox">
            <label>
              <%= check_box_tag 'has_events', nil, @filters["has_events"] %> Has Events
            </label>
          </div>
          
          <div class="checkbox">
            <label>
              <%= check_box_tag 'has_photos', nil, @filters["has_photos"] %> Has Photos
            </label>
          </div>
          
          <div class="checkbox">
            <label>
              <%= check_box_tag 'has_artist', nil, @filters["has_artist"] %> Has Artist
            </label>
          </div>
          
          <div class="checkbox">
            <label>
              <%= check_box_tag 'has_dimensions', nil, @filters["has_dimensions"] %> Has Dimensions
            </label>
          </div>
          
          <div class="checkbox">
            <label>
              <%= check_box_tag 'has_date_created', nil, @filters["has_date_created"] %> Has Date Created
            </label>
          </div>
        
          <br>
          <button type="submit" class="btn btn-default">Filter</button>
        
        </form>
      </div>
    </div>

</div>