<div class="row">
  <!-- Name -->
  <div class="col-lg-9">
    <h2>
      <% if editable_object? @place %>
        <span id="name"
          data-type="text"
          data-pk=<%= @place.uuid %>
          data-url="/places/<%= @place.uuid %>"
          data-title="Name">
          <%= @place.name %> 
        </span>
        <button id="edit_name" class="btn btn-xs">
          <span class="glyphicon glyphicon-pencil"></span>
        </button>
      <% else %>
        <%= @place.name %>
      <% end %>
    </h2>
  </div>
  <div class="col-lg-3">
    <br/>
    <div class="pull-right">
      <%= link_to place_history_path(@place), class: 'btn btn-warning btn-sm' do %>
        <span class="glyphicon glyphicon-th-list"></span> 
        History
      <% end %>
      <a href="#" class="btn btn-danger btn-sm">
        <span class="glyphicon glyphicon-remove"></span> 
        Delete
      </a>
    </div>
  </div>
</div>

<div class="row">
  
  <!-- Breadcrumb -->
  <div class="col-lg-8">
    <ol class="breadcrumb">
      <li>
        <%= link_to root_path do %>
          <span class="glyphicon glyphicon-home"></span>
        <% end %>
      </li>
      <li><a href="#">Database</a></li>
      <li><%= link_to 'Places', places_path %></li>
      <li class="active" id="breadcrumb_name"><%= @place.name %></li>
    </ol>

    <% if editable_object? @place %>
      <p id="description"
        data-type="textarea"
        data-rows="10"
        data-pk=<%= @place.uuid %>
        data-url="/places/<%= @place.uuid %>"
        data-title="Description">
        <%= @place.description %>
      </p>
      <p>
        <button id="edit_description" class="btn btn-xs">
          <span class="glyphicon glyphicon-pencil"></span>
        </button>
      </p>
    <% else %>
      <p><%= @place.description %></p>
    <% end %>
    
  </div>

  <!-- Photos -->
  <%= render partial: 'photos/partials/photos', locals: { object: @place } %>
  

</div>

<br>

<div class="row">
  
  <!-- Artifacts -->
  <%= render partial: 'places/show/artifacts', object: @place %>
  
  <!-- Employments -->
  <%= render partial: 'places/show/employments', object: @place %>
  
</div>

<%= render partial: 'photos/partials/upload_photo', locals: { object: @place } %>